@font-face {
  font-family: 'Golos UI';
  src: url('src/Golos-UI_Regular.ttf');
}

.navigation {
  width: 40px;
  padding: 20px 5px 20px 5px;
  cursor: pointer;
}


.profile {
  position: relative;
  margin-left: 20%;
  max-width: 900px;
  padding: 20px;
}

.logo {
  width: 123px;
  height: 123px;
  position: absolute;
  border-radius: 16px;
  left: 410px;
  margin-top: -12%;
}

.text {
  text-align: center;
  font-size: 14px;
  font-family: 'Golos UI';
  position: absolute;
}

.name {
  position: absolute;
  font-style: "Golos UI";
  font-size: 32px;
  font-weight: bold;
  margin-left: 37%;
  margin-top: 2%;
}

.description {
  position: absolute;
  width: 361px;
  height: 36px;
  margin-top: 6.5%;
  margin-left: 31%;
}

.counter {
  position: absolute;
  margin-left: 42.6%;
  width: 101px;
  height: 30px;
  background-color: #F2F3F5;
  border-radius: 6px;
  margin-top: 11.5%;
}

.post-img {
  position: absolute;
  margin-top: 6.5%;
  margin-left: 7%;
}

.post-text {
  font-weight: 400;
  position: absolute;
  font-size: 15px;
  color: #222222;
  margin-left: 30%;
  margin-top: 9.1%;
}

.userposts {
  padding-top: 150px; 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
