@font-face {
  font-family: 'Golos UI';
  src: url('src/Golos-UI_Regular.ttf');
}

.form {
  width: 343px;
  height: 251px;
  top: 415px;
  left: 838px;
  position: absolute;
}

h1 {
  top: 95px;
  left: 179px;  
  position: absolute;  
  color: #222222;
  font-family: 'Golos UI';
  font-weight: 700px;
  font-size: 140px;

}

.image {
  position: absolute;
  top: 289px;
  left: 269px;  
}

.about {
  font-family: 'Golos UI';
  font-weight: 400;
  font-size: 15px;
  color: #222222;
}

.hint {
  font-family: 'Golos UI';
  font-weight: 400;
  font-size: 13px;
  color: #808080;
}

.button {
  width: 343px;
  height: 44px;
  justify-content: space-between;
  border-radius: 10px;
  background-color: #F2F3F5;
  border: 0;
  outline: 0;
}

.submit {
  width: 343px;
  height: 48px;
  bottom: -32px;
  border-radius: 10px;
  position: absolute;
  background-color: #222222;
  color: white;
  font-family: 'Golos UI';
  font-size: 16px;
}