@font-face {
  font-family: 'Golos UI';
  src: url('src/Golos-UI_Regular.ttf');
}

.navigation {
  width: 40px;
  padding: 20px 5px 20px 5px;
  cursor: pointer;
}


.profile {
  position: relative;
  margin-left: 60px;
  max-width: 900px;
  height: 2500px; /* Фиксированная высота для абсолютного позиционирования */
}

.logo {
  width: 123px;
  height: 123px;
  position: absolute;
  border-radius: 16px;
  left: 410px;
  bottom: 2120px;
}

.text {
  text-align: center;
  font-size: 14px;
  font-family: 'Golos UI';
  position: absolute;
  left: 35px;
  bottom: -7px;
}

.name {
  position: absolute;
  font-style: "Golos UI";
  font-size: 32px;
  font-weight: bold;
  left: 375px;
  bottom: 2030px;
}

.description {
  position: absolute;
  width: 361px;
  height: 36px;
  bottom: 2000px;
  left: 300px;
}

.counter {
  position: absolute;
  width: 101px;
  height: 30px;
  bottom: 1969px;
  left: 435px;
  border-radius: 6px;
  padding: 6px 10px;
  background-color: #F2F3F5;
  box-sizing: border-box;
}

.userposts { 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
