@font-face {
  font-family: 'Golos UI';
  src: url('src/Golos-UI_Regular.ttf');
}

.navigation {
  width: 40px;
  padding: 20px 5px 20px 5px;
  cursor: pointer;
}


.profile {
  position: relative;
  margin-left: 60px;
  max-width: 900px;
  padding: 20px;
}

.logo {
  width: 123px;
  height: 123px;
  top: 97px;
  left: 658.5px;
  border-radius: 16px;
}

.text {
  text-align: center;
  font-size: 14px;
  font-family: 'Golos UI';
}

.name{
  font-size: 28px;
  font-style: 'Golos UI';
  font-weight: bold;
  width: 361px;
  height: 32px;
  top: 240px;
  left: 539.5px;
}

.description {
  width: 361px;
  height: 36px;
  top: 282px;
  left: 539.5px;
}

.counter {
  width: 101px;
  height: 30px;
  top: 330px;
  left: 669.5px;
  gap: 6px;
  border-radius: 6px;
  
}

.userposts { 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  overflow: scroll;
}
